<html>
<head>
  <title>My Portfolio</title>
  <style>
  body{
    background-color: Azure;
  }
  pre {
    color: black;
    font-size: 115%;
  }
  #first{
    text-align: center;
  }
  #middle{
    text-align: right;
  }
  #middlep{
    float: right;
  }
  h2 {
    color : DimGray;
    padding: 15px;
    text-align: right;
  }
  </style>
<head>
  <body>
    <h1 id="first">sitra s</h1>
    <p id="first">coder</p>
    <h4 id="first">contact info</h4>
    <hr>
    <h2>main work</h2>

    <h3>discoKnight</h3>
    <a href="https://scratch.mit.edu/projects/167544767/" target="_blank">
      <img title="discoKnight" src="https://cdn2.scratch.mit.edu/get_image/project/167544767_100x80.png" alt="discoKnight">
    </a>
    <pre>
this handsome young
lad not only dances,
but, if you're lucky,
he just might morphe
into a mystery fruit
    </pre>
    <hr>
    <h3 id = "middle">pastelPaddle</h3>
    <a href="https://scratch.mit.edu/projects/167550823/" target="_blank">
      <img title="pastelPaddle" id="middlep" src="https://cdn2.scratch.mit.edu/get_image/project/167550823_100x80.png" style="width:100;height:80;"/>
    </a>
    <pre id="middle">
Although the game often
ends before it truely
starts, the colours are
sure to impress.</pre>
    <hr>
    <h3>drawAnything</h3>
    <a href="https://scratch.mit.edu/projects/167429232/" target="_blank">
      <img title="drawAnything" src="https://cdn2.scratch.mit.edu/get_image/project/167429232_100x80.png" style="width:100;height:80;"/>
    </a>
    <pre>
Do you have a love
for geometric shapes?
If not, be prepared
for your passion to be
...
...
ignited.</pre>
  </body>
</html>
