<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">stop looking at me</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">the first look</a></h2>
            <pre>are you seeing this?
                          even that doesn't matter.</pre>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">ha</a></h2>
            <p>a joke.</p>
        </div>

        <div>
          <h2><a href="">incase you were wondeing...</a></h2>
          <p>***************************************</p>
        </div>
    </body>
</html>
